*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-clr: #81b29a;
  --primary-clr-dark: #3d405b;
  --secondary-clr: #e07a5f;
  --secondary-clr-light: #f2cc8f;
  --ternary-clr: #f4f1de;
  
  --columns: 3;
  --gap: 0.5rem;
}

html {
  font-size: 62.5%;
  font-family: 'Indie Flower', cursive;
}