*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:root {
  --primary-clr: #81b29a;
  --primary-clr-dark: #3d405b;
  --secondary-clr: #e07a5f;
  --secondary-clr-light: #f2cc8f;
  --ternary-clr: #f4f1de;
  
  --columns: 3;
  --gap: 0.5rem;
}

html {
  font-size: 62.5%;
  font-family: 'Indie Flower', cursive;
  height: 100vh;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  height: 100%;
}

#root {
  height: 100%;
}