*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-clr: #8cd8a5;
  --primary-clr-dark: #1a4c2b;
  
  --columns: 3;
  --gap: 0.5rem;
}

html {
  font-size: 62.5%;
  font-family: 'Indie Flower', cursive;
}