.frames {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);

  height: calc(60vh - var(--seperator-height));
  padding: var(--gap);
}

@media (min-width: 76.8rem) {
  .frames {    
    height: auto;
    min-height: 16rem;        
  }
}