.btn--roll {
  color: var(--primary-clr);
  background-color: inherit;
  border: 3px solid var(--primary-clr);
}

.btn--roll:disabled {
  pointer-events: none;
  color: var(--ternary-clr);
  background-color: lightgray;
  border: none;
}

.btn--roll:hover, .btn--roll:active {  
  background-color: var(--primary-clr-dark);
  border: none;
}

svg.submit {
  width: 2.4rem;
  height: 2.4rem;
  fill: currentColor;
}