.btn--roll {
  color: var(--primary-clr);
  background-color: inherit;
  border: 3px solid var(--primary-clr);
}

.btn--roll:hover, .btn--roll:active {  
  background-color: var(--primary-clr-dark);
  border-color: var(--primary-clr-dark);
}

svg.submit {
  width: 2.4rem;
  height: 2.4rem;
  fill: currentColor;
}