.rolls {  
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);    
  gap: var(--gap);

  height: 40vh;
  padding: var(--gap);;
}

@media (min-width: 76.8rem) {
  .rolls {
    height: auto;
  }
}