.frame {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.frame:nth-of-type(10) {
  grid-column: span calc(var(--columns) - 1);
}

@media (min-width: 76.8rem) {
  .frame:nth-of-type(10) {
    grid-column: span 2;
  }
}

.frame_number {
  background-color: var(--secondary-clr);
  color: var(--ternary-clr);
}

.frame_score {  
  font-size: 2rem;
  font-weight: bold;

  color: var(--ternary-clr);
  background-color: var(--primary-clr);

  min-height: 2.8rem;
}

.frame.frame.disabled .frame_score{  
  background-color: var(--primary-clr-dark);
  color: var(--primary-clr-dark);
} 