.bowling {
  --seperator-height: 3px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 76.8rem) {
  .bowling {
    --columns: 12;
    justify-content: center;

    height: 100%;
    gap: 3rem;
    padding: 0 2rem;
  }
}